* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15pt;
    background: #43A2BB;
}

form>div {
    display: flex;
    margin: 10px 0;
}

.text {
    width: 250px;
}

.titleWrapper {
    display: flex;
}

.title {
    padding: 20px;
    border: 3px solid black;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.title:hover {
    color: rgb(198, 192, 235);
    border: 4px solid rgb(198, 192, 235);
}

.title:active {
    color: green;
    border: 4px solid green;
}

.tabInfo {
    padding: 20px;
    background: #43A2BB;
    transition: all .6s ease-in-out;
}

.wrapperInfo {
    position: relative;
}

.tabInfo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .6s ease-in-out;
}

.infoActive {
    opacity: 1;
}

.titleActive {
    color: white;
    background: blue;
}