* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15pt;
    background: #43A2BB;
}

.modalChar>div>div,
form>div {
    display: flex;
    margin: 10px 0;
}

.text {
    width: 250px;
}

.titleWrapper {
    display: flex;
}

.title {
    padding: 20px;
    border: 3px solid black;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.title:hover {
    color: rgb(198, 192, 235);
    border: 3px solid rgb(198, 192, 235);
}

.title:active {
    color: green;
    border: 4px solid green;
}

.tabInfo {
    padding: 20px;
    background: #43A2BB;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapperInfo {
    position: relative;
}

.infoActive {
    opacity: 1;
}

.titleActive {
    color: white;
    background: blue;
}

.money {
    display: flex;
    flex-direction: column;
}

.modalChar {
    background: rgba(8, 2, 34, .99);
    ;
    color: cornsilk;
    position: absolute;
    top: -550px;
    left: 50px;
    width: 50vw;
    height: 500px;
    box-shadow: inset 0 0 10px rgb(29, 182, 202);
    transition: all .5s ease-in-out;
}

.modalChar>form {
    position: absolute;
    top: 30%;
    left: 30%;
    background: rgba(8, 2, 34, 1);
}

.modalChar select {
    min-width: 100px;
}

.modalChar_active {
    transform: translateY(550px);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
    transition: all .2s linear;
}

.close:hover {
    color: red;
}