* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    margin-top: 180px;
    transition: transform .3s linear;
}