* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: midnightblue;
}

#parent {
    border: 1px solid green;
    height: 100vh;
}

#parent div {
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 10px white;
    margin: 10px auto;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}