* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4B4F7B;
    width: 100vw;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

input {
    margin: 10px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
    padding: 2px 5px;
}

textarea {
    margin: 10px;
    width: 380px;
    height: 400px;
    border-radius: 4px;
    padding: 2px 5px;
}

.required {
    border: solid 2px red;
}

button {
    margin: 10px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    background: #28B099;
    border: none;
    border-radius: 2px;
    color: #D8D9E1;
}

button:active {
    color: #DDDDDD;
    box-shadow: 0 0 10px #DDDDDD;
}

.allInput {
    width: 100vw;
    height: 100vh;
    background: #4B4F7B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(150%);
    transition: transform 1s ease-in-out;
}

.allInput p {
    color: white;
    font-size: 20px;
}

.allInputActive {
    transform: translateX(0);
}

.startScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.par {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 360px;
    height: 500px;
    background: #9FA0A9;
    margin: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.wrapperImg {
    border-radius: 5px;
    height: 290px;
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
}

.card img {
    object-fit: cover;
    max-width: 340px;
    max-height: 290px;
}

.price {
    margin: 10px;
    font-size: 25px;
    text-align: center;
}

.desk {
    width: 340px;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.card button {
    display: block;
    margin: 0 auto;
}

.catalog {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: #4B4F7B;
    transition: transform 1s ease-in-out;
}

.catalogActive {
    transform: translateX(0);
}

.headerCatalog {
    width: 100%;
    height: 100px;
}