input {
    margin: 10px;
    width: 300px;
}

button {
    margin: 10px;
}

.par {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 600px;
    background: rgb(13, 170, 123);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

img {
    object-fit: contain;
    width: 380px;
    min-height: 300px;
}

.img {
    border-radius: 5px;
}

.price {
    margin: 10px auto;
    font-size: 25px;
}

.desk {
    width: 380px;
    height: 400px;
    padding: 10px;
    font-size: 20px;
}