* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4B4F7B;
    max-width: 100vw;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    position: relative;
}

input {
    margin: 10px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
    padding: 2px 5px;
}

textarea {
    margin: 10px;
    width: 380px;
    height: 380px;
    border-radius: 4px;
    padding: 2px 5px;
}

.required {
    border: solid 2px red;
}

button {
    margin: 10px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    background: #28B099;
    border: none;
    border-radius: 2px;
    color: #D8D9E1;
}

button:active {
    color: #DDDDDD;
    box-shadow: 0 0 10px #DDDDDD;
}

.allInput {
    width: 100vw;
    height: 100vh;
    background: #4B4F7B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.allInput p {
    color: white;
    font-size: 20px;
}

.allInputActive {
    transform: translateX(0);
}

.startScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.par {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: 360px;
    height: 500px;
    background: #9FA0A9;
    margin: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.wrapperImg {
    border-radius: 5px;
    height: 290px;
    width: 350px;
    margin: 0 auto;
}

.card img {
    object-fit: cover;
    max-width: 340px;
    max-height: 290px;
}

.price {
    margin: 10px;
    font-size: 25px;
    text-align: center;
}

.desk {
    width: 340px;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.card button {
    display: block;
    margin: 0 auto;
}

.catalog {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: #4B4F7B;
    transition: transform 1s ease-in-out;
}

.catalogActive {
    transform: translateX(0);
}

.headerCatalog {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.basket {
    width: 100vw;
    height: 100vh;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateY(-100%);
}

#closeAddMenu {
    display: flex;
    align-self: flex-end;
    margin-right: 0px;
}

#closeAddMenu,
.closeCatalog {
    width: 50px;
    height: 40px;
    font-size: 40px;
    background: transparent;
    border: none;
    transition: all .2s linear;
}

#closeAddMenu:active,
.closeCatalog:active {
    box-shadow: none;
    color: rgba(255, 0, 0, 0.3);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.sortUp,
.sortLow {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    background: none;
    transition: all .2s linear;
}

.sortUp {
    border-bottom: 15px solid #DDDDDD;
}

.sortLow {
    border-top: 15px solid #DDDDDD;
}

.sortUp:active {
    border-bottom-color: rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 rgba(255, 0, 0, 0.3);
}

.sortLow:active {
    border-top-color: rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 rgba(255, 0, 0, 0.3);
}