*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #4B4F7B;
}

input{
    margin: 10px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
    padding: 2px 5px;
}

textarea{
  margin: 10px;
  width: 380px;
  height: 400px;
  border-radius: 4px;
  padding: 2px 5px;
}

.required{
  border: solid 2px red;
}

button {
    margin: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    background: #28B099;
    border: none;
    border-radius: 2px;
    color: #D8D9E1;
}
button:active {
  color: #DDDDDD;
  box-shadow: 0 0 10px #DDDDDD;
}
.par {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 1000px;
    background: #9FA0A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.wrapperImg {
  border-radius: 5px;
  height: 600px;
  width: 390px;
  overflow: hidden;
}

.card img {
    object-fit: contain;
    width: 390px;
    min-height: 400px;
}

.price {
    margin: 10px auto;
    font-size: 25px;
}

.desk {
    width: 380px;
    height: 400px;
    padding: 10px;
    font-size: 20px;
}
.catalog{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: -150%;
  background: #4B4F7B;
  transition: left 1s ease-in-out;
}

.catalogActive{
  left: 0;
}

.headerCatalog{
  width: 100%;
  height: 100px;
}
